<h1>Edit Camp</h1>

<form action="/camps/<%= camp._id %>?_method=PATCH" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="<%= camp.title %>" />
  <br />
  <label for="location">Location</label>
  <input
    type="text"
    name="location"
    id="location"
    value="<%= camp.location %>"
  />
  <br />
  <label for="price">Price</label>
  <input
    type="number"
    name="price"
    id="price"
    value="<%= camp.price %>"
    step="0.01"
  />
  <br />
  <label for="desc">Description</label>
  <textarea name="description" id="desc" cols="30" rows="10">
<%= camp.description %></textarea
  >
  <br />
  <button type="submit">Edit</button>
</form>

<a href="/camps/<%= camp._id %>">Back</a>
